.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: 1000;
	&-inner {
		display: flex;
		justify-content: space-between;
	}
	&-content {
		display: flex;
		flex-direction: column;
	}
	&-descr {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 10px 5px;
		font-size: 14px;
		color: @celeste;
		font-weight: bold;
		&__addr {
			position: relative;
			padding-left: 25px;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				.sprite(@location);
			}
		}
		&__tel {
			margin-left: 40px;
			position: relative;
			padding-left: 25px;
			
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				.sprite(@tel);
			}
			a {
				color: @celeste;
				font-family: @firaSans;
			}
			span {
				font-weight: normal;
			}
		}
		&__social {
			margin-left: 60px;
		}
	}
}
.social {
	display: flex;
	&-item {
		&:last-child {
			margin-left: 25px;
		}
		&__link {
			&--facebook {
				i {
					.sprite(@facebook);
				}
			}
			&--instagram {
				i {
					.sprite(@instagram);
				}
			}
		}
	}
}