@import 'fonts';
@import 'libs';
@import 'vars';
@import '../img/sprite/sprite';
html,
body {
  height: 100%;
}
html { 
  line-height: 1;
  font-size: 14px;
}
body {
  width: 100%;
  font-family: @mainFont;
  color: @mainColor;
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
ul,li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}  
p {
  margin: 0;
}  
a {
  text-decoration: none;
  color: black;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}  
textarea {
  resize: none;
}
section {
  position: relative;
  padding: 45px 0;
}
input,
select,
button {
  outline: none;
}
*, *:before, *:after {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.main {
	flex: 1 0 auto;
}
.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
	padding: 0 15px;
	position: relative;
}
.icon {
  display: inline-block;
}
.button {
	padding: 0 30px;
	font-size: 18px;
	line-height: 50px;
	color: #222222;
	background-color: @brightSun;
	border-radius: 10px;
	cursor: pointer;
	border: none;

}

@import 'modules/header';
@import 'include/main-nav';
@import 'include/main-slider';

@import 'sections/price';
@import 'sections/advantages';
@import 'sections/sentence';
@import 'include/main-form';

@import 'modules/footer';
@import 'media';
